* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::root {
  $head-font: "Roboto";
  $para-font: "Raleway";
  $dark-violet: hsl(256, 26%, 20%);
  $grayish-blue: hsl(216, 30%, 68%);
  $neu-dark-violet: hsl(270, 9%, 17%);
  $neu-grayish-violet: hsl(270, 2%, 50%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway";
}

.site {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: [full-start]10vw[center-start] 1fr [center-end]10vw[full-end];

  //  Header
  &__header {
    grid-column: full-start / full-end;
  }

  // Landing Page
  &__landingPage {
    grid-column: full-start / full-end;
    background-color: hsl(256, 26%, 20%);
  }

  // Activities
  &__activities {
    margin-top: 15rem;
    grid-column: center-start / center-end;
  }

  // About
  &__about {
    grid-column: center-start / center-end;
    background-color: hsl(256, 26%, 20%);
  }

  // Footer
  &__footer {
    grid-column: full-start / full-end;
    background-color: hsl(0, 0%, 93%);
  }
}

//HEADER
.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0 10vw;

  // Logo
  &__log {
    color: hsl(256, 26%, 20%);
  }

  // Navigation
  &__navigation {
    &--list ul {
      list-style: none;
      display: flex;
      color: hsl(270, 2%, 50%);
      font-size: 0.9vw;
      font-weight: 700;

      li {
        cursor: pointer;

        a {
          text-decoration: none;
          color: hsl(270, 2%, 50%);
          padding: 8px 18px;
          border: 2px solid hsl(0, 0%, 100%);
          transition: all 0.2s linear;

          &:hover {
            background-color: hsl(256, 26%, 20%);
            color: white;
            border: 2px solid hsl(256, 26%, 20%);
          }
        }
      }

      li:not(:last-child) {
        margin-right: 2vw;
      }
    }
  }
}

// LANDING PAGE
.landing {
  &__page {
    margin: 0px 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &--left {
      grid-column: 1 / 2;

      h1 {
        font-size: 5rem;
        color: white;
        margin: 5vh auto;
        width: 50rem;
      }

      article {
        color: white;
        margin: 5vh auto;
        width: 50rem;
      }

      a {
        margin-left: 3vh;
        background-color: hsl(256, 26%, 20%);
        padding: 10px 20px;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          color: hsl(256, 26%, 20%);
          background-color: white;
          font-weight: 600;
        }
      }
    }

    &--right {
      grid-column: 2 / -1;

      img {
        transform: translateY(10rem);
      }
    }
  }
}

// OUR ACTIVITIES
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 4rem;
}
.services img,
.services h3 {
  margin-bottom: 2rem;
}
.services p {
  margin-bottom: 8rem;
}
// ABOUT US SECTION
.site__about {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;

  &--header{
      font-size: 4rem;
      width: 25vw;
  }

  button{
      background-color: hsl(256, 26%, 20%);
      color: rgb(230, 230, 230);
      padding: 1rem 2rem;
      font-size: 2rem;
      a{
          text-decoration: none;
          color: rgb(230, 230, 230);
      }
  }
}
